@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
  scroll-behavior: smooth;
  --primary-theme-color: #f0f0f0;
  --secondary-theme-color: #dbf4f3;
  --text-color: #000000;
  --button-bg-color: #17bebb;
  --button-color: #f0f0f0;
  --button-color-active: #ffcc33;
  --button-color-veryactive: linear-gradient(45deg, #dbf4f3, #7be8e5);
  --padding-section: 4em 0;
  --padding-container: 0 2em;
  --max-width-container: 1024px;
  --border-radius: 1rem;





}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: var(--primary-theme-color);
  color: var(--text-color);
  font-family: 'Comfortaa', cursive;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Oculta el scroll en navegadores basados en WebKit */
  -ms-overflow-style: none;
  /* Oculta el scroll en navegadores basados en Internet Explorer */
}

/* Añade estilos personalizados para el scroll si es necesario */
body::-webkit-scrollbar {
  display: none;
  /* Oculta el scroll en navegadores basados en WebKit */
}

h1 {
  font-size: 1.6rem;
  color: var(--text-color);
  padding-top: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: 800;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 0.8rem;

}

a {
  font-family: 'Montserrat', sans-serif;
}

p {

  font-weight: 400;
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

.logo-enlace {
  text-decoration: none;

}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;

}

.header-nav {
  padding: 0.2rem 0;


}

.header-nav--scroll {
  padding: 0.2rem 0;
  /*este padding funciona cuando se scrollea en Y*/
  background-image: url('../img/wave.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width-container);
  margin: auto;
  padding: var(--padding-container);
}

/* start tamaño de logo */
.header-nav__logo-container {
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  text-decoration: none;
}

.header-nav__logo {
  width: 100%;
  height: 100%;
}

/* end tamaño de logo */

.header-nav__menu-icon-container {
  height: 2rem;
  cursor: pointer;
  margin: 0;
}

.header-nav__menu-icon {
  fill: var(--text-color);
  height: 100%;
}

.header-nav__menu-link-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: linear-gradient(to top, var(--primary-theme-color), var(--secondary-theme-color));
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  list-style: none;
}

.header-nav__menu-link-list--open {
  opacity: 1;
  pointer-events: auto;
}

.header-nav__menu-link-item {
  display: flex;
}

.header-nav__menu-link {
  color: var(--text-color);
  font-weight: 600;
  padding: 0.25em 1em;
  border-radius: var(--border-radius);
  text-decoration: none;
}

.header-nav__menu-link--active,
.header-nav__menu-link:hover {
  background-color: var(--button-color-active);
  color: var(--button-text-color);
}

.header-nav__menu-close-icon-container {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  height: 2rem;
  cursor: pointer;
}

.header-nav__menu-close-icon {
  fill: var(--text-color);
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  display: flex;
  background-image: linear-gradient(var(--primary-theme-color), var(--secondary-theme-color));
  min-height: 100vh;
  overflow: hidden;
}



.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 4rem 2rem;

}



.hero__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;



}

.hero__subtitle {
  margin: 0.5rem 0;
}

.carousel img {
  display: none;
}

.text-carrousel {
  text-align: center;
}

.carousel img:first-child {
  display: block;
}


#changing-text {
  background: linear-gradient(45deg, #dbf4f3, #ffcc33, #dbf4f3);
  padding: 10px;
  display: inline;
  padding: 0.5rem 0.5rem;
  font-size: 1.1rem;
  border-radius: var(--border-radius);
}




.texto-desktop,
.texto-celular {
  text-align: left;
  margin: 0.8rem 0;
}
.ecommerce__container{
  height: auto;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.item{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  margin-bottom: 3rem;
}

.video-container {
  position: relative;
  display: inline-block;
}

.preview-image {
  width: 100%;
  display: block;
}

.play-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 15%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  border: #000000 0px solid;
  border-radius: 50%;
}

.play-button img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: pulse 1s infinite;
  opacity: 0.8;
  background-color: rgb(241, 238, 238);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
  }
}

.play-button .pause-icon {
  display: none;
}

.video {
  display: none;
}

.description{
  margin-top: 0.5rem;
}
.description h3{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
.description h4{
  font-size: 0.9rem;
}
.pricing{
  padding: 0.5rem 1rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 0.2rem;
  background-color: #21213b;
  border-radius: 5px;
  color: #f0f0f0;
}
.pricing .buy{
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  background-color: #68ddbd;
  color: #000000;
  font-weight: bold;
}








.modulos__topic-info {
  font-weight: 500;
  font-size: 0.6rem;

}

.modulos {
  padding: var(--padding-section);
  overflow: hidden;
  background-image: linear-gradient(var(--primary-theme-color), var(--secondary-theme-color));

  padding: 1rem auto;
}

.modulos__container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: var(--max-width-container);
  padding: var(--padding-container);
  margin: 1rem auto;
}

.modulos__topic-title {
  text-align: center;
}

.modulos__paragraph {
  text-align: center;
  margin: 0;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.modulos__topic {
  background-color: var(--card-bg-color);
  padding: 0.5rem;
  border: var(--button-bg-color) 2px solid;
  border-radius: 50px 10px var(--border-radius)0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 250px;
}

.modulos__topic-icon-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.modulos__topic-icon {
  width: 30%;
}

.modulos__topic-subtitle {
  text-align: center;
  margin: 0.5rem;
  padding: 0.2rem 0.2rem;
  background: var(--button-color-veryactive);
  border-radius: 0.4rem;
  font-size: 0.6rem;
}

.modulos__topic-paragraph {
  list-style: none;
  text-align: center;
  margin: 0;
}
.demo{
  text-decoration: none;
  margin-top: 4rem;
}

.demo button{
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  background-color: var(--button-color-active);
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


.planes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  padding: 1rem 0;
}

.planes__container {
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.card__container {
  margin: 3rem auto;
  padding: var(--padding-container);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.card {
  width: 200px;
}




/*****************************MEDIA QUERY***********************************/
@media (min-width: 854px) {
  :root {
    --padding-container: 0 0.75em;
  }

  .header-nav__menu-icon-container,
  .header-nav__menu-close-icon-container {
    display: none;
  }

  .header-nav__menu-link-list {
    position: static;
    flex-direction: row;
    background-image: none;
    opacity: 1;
    width: auto;
    pointer-events: auto;
  }
}

/* Estilos para modo celular */
@media (max-width: 767px) {
  .texto-desktop {
    display: none;
  }
}

/* Estilos para modo desktop */
@media (min-width: 768px) {
  h1 {
    font-size: 1.8rem;
    color: var(--text-color);
    padding-top: 2rem;
  }

  h2 {
    font-weight: 800;
    font-size: 1.8rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  p {

    font-weight: 400;
    font-size: 1.2rem;
  }



  .hero__article {
    flex-basis: 50%;

  }

  .carousel {
    flex-basis: 50%;
    margin: auto;
  }

  #changing-text {
    background: linear-gradient(45deg, #dbf4f3, #ffcc33, #dbf4f3);
    padding: 10px;
    display: inline;
    padding: 0.5rem 0.5rem;
    font-size: 1.3rem;
    border-radius: var(--border-radius);
  }

  .item{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;

  }
  .play-button img {
    width: 80px;
    height: 80px;

  }
  .description{
    margin-top: 0.5rem;
  }
  .description h3{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
  }
  .description h4{
    font-size: 0.9rem;
  }
  .pricing{
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
    border-radius: 5px;
  }
  .pricing .buy{
    padding: 0.2rem 0.5rem;
    border-radius: 10px;

  }


  .modulos__container {
    height: 100vh;
  }

  .modulos__topic {
    width: 270px;
    height: 240px;
  }

  .modulos__topic-subtitle {

    font-size: 0.8rem;
  }

  .modulos__topic-info {
    font-weight: 500;
    font-size: 0.8rem;
  }

  .texto-celular {
    display: none;
  }
  .planes__container{
    padding-top: 4rem;
    height: 100vh;
  }

  .card {
    width: 220px;

  }

}


