.card {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    margin: 10px;
    float: left;
}

.card.expanded {
    width: 200px;
    height: 200px;
}

.card-content {
    display: none;
}

.card-content.show-content {
    display: block;
 }